@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Roboto+Mono&display=swap');

body {
  font-family: 'Kalam', cursive;
}

header {
  background-image: url("./treasure-map.jpg");
}

code {
  font-family: 'Roboto Mono', monospace;
  color: #aed581;
  font-weight: bold;
  background-color: #444444;
  padding: 10px;
  border-radius: 5px;
}

p {
  margin: 5px 0;
}
